.navbar-item-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-item-wrapper:hover {
    background-color: rgb(227, 220, 212);
  }
  .item-wrapper {
    height: 60px;
  }
  .item-wrapper .icon {
    height: 41px;
    width: 41px;
    margin-left: 20px;
  }
  .item-wrapper .item-name {
    margin-left: 20px;
    font-size: 20px;
  }
  .menu_content_wrapper {
    height: calc(100vh - 52px);
    overflow-y: auto; /* Cho phép cuộn toàn bộ nội dung navbar */
  }
  .invitations-wrapper {
    margin-top: 20px;
    padding: 0 20px;
  }
  .invitation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .invitation-buttons {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
  }